
<div class="talk-list">
	<span onload="getlastpost(1)">{{lastpost | json}}</span>
	<span class="topic-bis caps category support"><span class="ic rad skew icon-call_split"></span> Technical support<hr id="cat-support"></span>
	<ul>
		<li class="topic-dev rad skew" ng-click="talkPage(1);">
			<span class="thread-t">Support</span>
			<span class="thread-lp" ng-lastpost="1"></span>
		</li>
		<li class="topic-dev rad skew" ng-click="talkPage(2);" ng-if="admin">
			<span class="thread-t">Developers</span>
			<span class="thread-lp" ng-lastpost="2"></span>
		</li>
		<li class="topic-dev rad skew" ng-click="talkPage(3);" ng-if="beta">
			<span class="thread-t">Beta Testers</span>
			<span class="thread-lp" ng-lastpost="3"></span>
		</li>
		<li class="topic-dev rad skew" ng-click="talkPage(4);">
			<span class="thread-t">Data</span>
			<span class="thread-lp" ng-lastpost="4"></span>
		</li>
	</ul>
	<span class="topic-bis caps category"><span class="ic rad skew icon-data_usage"></span> Website apps<hr id="cat-applications"></span>
	<ul>
		<li class="topic-suggestion rad skew"ng-click="talkPage(12);" >
			<span class="thread-t">Manatools Project</span>
			<span class="thread-lp" ng-lastpost="10"></span>
		</li>
		<li class="topic-bis rad skew" ng-click="talkPage(10);">
			<span class="thread-t">Team Builder</span>
			<span class="thread-lp" ng-lastpost="11"></span>
		</li>
		<li class="topic-auction rad skew" ng-click="talkPage(11);" >
			<span class="thread-t">Strategy Builder</span>
			<span class="thread-lp" ng-lastpost="12"></span>
		</li>
	</ul>
	<span class="topic-bis caps category"><span class="ic rad skew icon-data_usage"></span> Overwatch threads<hr id="cat-classes"></span>
	<ul>
		<li class="topic-class rad skew left" ng-click="talkPage(20);">
			<span class="thread-t">General</span>
			<span class="thread-lp" ng-lastpost="20"></span>
		</li>
		<li class="topic-class rad skew left" ng-click="talkPage(21);">
			<span class="thread-t">Overwatch</span>
			<span class="thread-lp" ng-lastpost="21"></span>
		</li>
		<li class="topic-class rad skew left" ng-click="talkPage(22);">
			<span class="thread-t">Heroes balance</span>
			<span class="thread-lp" ng-lastpost="22"></span>
		</li>
		<li class="topic-class rad skew left" ng-click="talkPage(23);">
			<span class="thread-t">Strategy</span>
			<span class="thread-lp" ng-lastpost="23"></span>
		</li>
		<li class="topic-class rad skew left" ng-click="talkPage(24);">
			<span class="thread-t">E-sport</span>
			<span class="thread-lp" ng-lastpost="24"></span>
		</li>
		<li class="topic-class rad skew left" ng-click="talkPage(25);">
			<span class="thread-t">LFG</span>
			<span class="thread-lp" ng-lastpost="25"></span>
		</li>
		<li class="topic-class rad skew left" ng-click="talkPage(26);">
			<span class="thread-t">Animated short</span>
			<span class="thread-lp" ng-lastpost="26"></span>
		</li>
	</ul>
</div>
