<span ng-if="system" ng-system="{{o}}"></span>
<div class="login" ng-keypress="enter($event,user)" ng-if="!online.status">
	<div class="introduction">
		<h2>SIGN IN</h2>
		<p>Connect and share or <a href="">register</a> an account.</p>
	</div>
	<form name="logform">
    	<input type="text" name="username" ng-model="user.username" placeholder="username" required>
    	<br>
    	<input type="password" name="password" ng-model="user.password" placeholder="password" required>
    	<br>
			<span class="details {{connect}}">{{o}}</span>
			<br><br>
		<button class="skew {{connect}}" ng-click="submit(user)" ng-enter="submit(user)" ng-disabled="logform.$invalid">Access</button>
	</form>
</div>

<div class="login" ng-keypress="enter($event,user)" ng-if="online.status">
	<div class="introduction">
		<h3 class="center lime">{{ot}}</h3>
	</div>
	<div ng-init="getInfos(online.user)">
		<div class="skew talk-poster ba-{{theuser.rank}} changeavatar">
			<div class="rad img-crop" ng-click="selectAvatar()" title="Click to select avatar">
				<img ng-src="http://media.manatools.com/avatar/overwatch/{{theuser.avatar}}" class="poster-avatar unskew">
			</div>
			<span class="poster-name poster-status">{{rankName[theuser.rank]}}</span>
		</div>
	</div>
	<span><b>Registered user</b> #{{online.user}}</span>
	<br>
	<span><b>Rank</b> #{{theuser.rank}}</span>
	<br>
	<span><b>Battle.net</b> {{theuser.btag}}</span>
	<br><br><br>
	<button ng-click="logout()" class="initial red skew">Logout</button>
	<button ng-click="enableEditor('btag')" class="initial skew ease {{updated.status}}"><span class="icon-{{setIcon}}"></span></button>
</div>

<div class="centerPanel rad skew" ng-show="editorEnabled">
  <input ng-model="theuser.btag" ng-show="editorEnabled">
  <br>
  <button class="little" ng-click="save()">Save</button>
</div>
<div class="centerPanelHeroes" ng-show="showAvatar">
  <ul class="heroesList avatarList">
    <li ng-repeat="avt in avatars" ng-click="set(avt)" style="background-image:url(http://media.manatools.com/avatar/overwatch/{{avt.link}});">
    </li>
	<li ng-repeat="avt in avatarsAdmin" ng-click="set(avt)" ng-if="theuser.rank == 10" style="background-image:url(http://media.manatools.com/avatar/overwatch/{{avt.link}});">
    </li>
  </ul>
  <button class="little close skew" ng-click="showAvatar = false">close</button>
</div>